.boeken-container {
    display: flex;
    flex-wrap: wrap;
    padding: 5%;
    gap: 20px;
    justify-content: center;
    
}

.boek {
    width: 250px; /* vaste breedte per boek */
    border: 1px solid #ccc;
    color: black;
    text-decoration: none;
    border-radius: 15px;
    padding: 15px;
    box-sizing: border-box;
    background: #fff;
}
.boek:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
    transition: all 0.3s ease;
}

.boek-link{
    color: black;
    text-decoration: none;
}

.boek img{
    width: 100%;
    max-height: 300px;
}

.boek h2 {
    font-size: 1.2em;
    margin: 10px 0;
}

.tabs-cont{
    display: flex;
    gap: 5px;
}
.small-tabs {
    font-size: 0.9em;
    background-color: #555;
    color: white;
    padding: 5px 10px;
    border-radius: 99px;
}

/* details boek */

.boek-cont{
    display: flex;
    gap: 20px;
    margin: auto;
    width: 55vw;
    justify-content: center;
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    border: rgba(128, 128, 128, 0.494) 1px solid;
}

.boek-detail img{
    width: 300px;
    border-radius: 15px;
}

.boek-info{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.terug-button{
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-bottom: 20px;
    display: inline-block;
    background-color: #333;
    padding: 10px 15px;
    border-radius: 5px;
    color: white;
    margin: 20px;
}.terug-button:hover{
    background-color: #606060;
    transition: 0.2s all ease-in-out;
}