body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

button {
    background-color: #008CBA;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

button:hover {
    background-color: #005f73;
}

h1 {
    color: #333;
    text-align: center;
    margin-top: 20px;
}

#image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}